@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 260 46% 15%;

    --card: 0 0% 100%;
    --card-foreground: 260 46% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 260 46% 15%;

    --primary: 268 55% 33%;
    --primary-foreground: 0 0% 100%;

    --secondary: 267 80% 61%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 267 80% 61%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 268 55% 33%;

    --radius: 0.5rem;

    --western-purple: 268 55% 33%;
    --western-orchid: 267 80% 61%;
    --western-deep: 260 46% 15%;
    --western-grey: 0 0% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
